<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Title</title>
</head>
<body>

<h1>Список всех остановок</h1>
<table>
    <thead>
    <tr>
        <td>Порядковый номер</td>
        <td>id</td>
        <td>Название остановки</td>
        <td>Активность</td>
        <td>Дата создания</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="stop, iterator: ${stops}">
        <td th:text="${iterator.index+1}"></td>
        <td th:text="${stop.id}"></td>
        <td th:text="${stop.name}"></td>
        <td th:text="${stop.active}"></td>
        <td th:text="${stop.createDate}"></td>

        <td><a th:href="@{/tl/stop/view/{stopId}(stopId=${stop.id})}">Просмотр</a></td>

<!--        <td><a th:href="@{/tl/stops/delete/{stopId}(stopId=${stop.id})}">Удалить</a></td>-->
    </tr>
    </tbody>
</table>

<form action="#" method="post" th:action="@{/tl/stops/save}" th:object="${stopSave}">
    <fieldset>
        <input th:name="Название остановки"/>
        <input th:description="описание остановки"/>
        <input th:createDate="Дата создания, в формате dd.MM.yyyy"/>
        <input type="submit" th:value="Сохранить"/>
    </fieldset>
</form>

</body>
</html>


