<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сервис заказа билетов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

<div class="container">

    <ul class="nav nav-pills mt-3 mb-3">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/tl/welcome.html">Главная страница</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tl/journeys">Маршруты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tl/vehicles">Транспортные средства</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tl/stops">Остановки</a>
        </li>
    </ul>

    <h1>Список остановок</h1>
    <h3>Параметры запроса</h3>
    <!--    <form action="#" method="post">-->
    <form action="#" method="post" th:action="@{/tl/stops/search}" th:object="${inputSearchParams}">

        <!--        <input th:name="Название остановки"/>-->
        <!--=========================================================================================-->
        <div class="row mb-3">
            <div class="col-3">Номер страницы:</div>
            <div class="col-8">
                <!--                <input type="number" name="page">-->
                <input th:name="totalPages" id="totalPages" th:value="${inputSearchParams.totalPages}"
                       type="number">
            </div>
        </div>
        <!--=========================================================================================-->

        <div class="row mb-3">
            <div class="col-3">Кол-во элементов на странице:</div>
            <div class="col-8">
                <input th:name="maxResult" id="maxResult" th:value="${inputSearchParams.maxResult}" type="number">
            </div>
        </div>
        <!--=========================================================================================-->
        <div class="row mb-3">
            <div class="col-3">Фильтр по полю:</div>
            <div class="col-auto">
                <select  th:name="filterKey" id="filterKey" th:value="${inputSearchParams.filterKey}" >
                    <option selected>Выберете нужный параметр</option>
                    <option value="ID">по номеру</option>
                    <option value="NAME">по имени</option>
                    <option value="DATE">по дате</option>
                </select>
            </div>
        </div>
        <!--=========================================================================================-->
        <div class="row mb-3">
            <div class="col-3">Значение для фильтра:</div>
            <div class="col-8">
                <input th:name="filterValue" id="filterValue" th:value="${inputSearchParams.filterValue}">
            </div>
        </div>
        <!--=========================================================================================-->
        <div class="row mb-3">
            <div class="col-3">Сортировка по полю:</div>
            <div class="col-auto">
<!--                <select class="form-select">-->
                <select th:name="sortBy" id="sortBy" th:value="${inputSearchParams.sortBy}">
                    <option selected>Выберете нужный параметр</option>
                    <option value="id">по номеру</option>
                    <option value="commonInfo.name">по имени</option>
                    <option value="byDate">по дате</option>
                </select>
            </div>
        </div>
        <!--=========================================================================================-->
        <div class="row mb-3">
            <div class="col-3">Сортировка по возрастанию:</div>
            <div class="col-8">
                <!--                <input type="checkbox" th:value="asc">-->
                <input th:checked="${inputSearchParams.sortDirect}" th:name="sortDirect" id="sortDirect" type="checkbox">
<!--                <input th:value="${inputSearchParams.isSortAsc}"  th:name="isSortAsc" id="isSortAsc"-->

            </div>
        </div>
        <!--=========================================================================================-->
        <button type="submit" class="btn btn-primary">Применить</button>
    </form>

    <hr>

    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Порядковый номер</th>
                <th scope="col">id</th>
                <th scope="col">Название остановки</th>
                <th scope="col">Активность</th>
                <th scope="col">Дата создания</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stop, iterator: ${stops}">
                <td th:text="${iterator.index+1}"></td>
                <td th:text="${stop.id}"></td>
                <td th:text="${stop.name}"></td>
                <td th:text="${stop.active}"></td>
                <td th:text="${stop.createDate}"></td>

                <td><a th:href="@{/tl/stop/view/{stopId}(stopId=${stop.id})}">Просмотр</a></td>

                <!--        <td><a th:href="@{/tl/stops/delete/{stopId}(stopId=${stop.id})}">Удалить</a></td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>